<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net461" />
  <package id="FluentNHibernate.AspNet.Identity" version="1.1.8194" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="NHibernate" version="5.2.3" targetFramework="net461" />
  <package id="NHibernate.AspNet.Identity" version="5.0.2" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net461" />
  <package id="Snork.FluentNHibernateTools" version="1.1.6600" targetFramework="net461" />
</packages>