<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisConfiguration" type="Posy.V2.Infra.CrossCutting.Common.Cache.Configuration.RedisConfigurationSection, Posy.V2.Infra.CrossCutting.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <RedisConfiguration host="localhost" port="6379"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
