@{
    Layout = "~/Views/Shared/_Account.cshtml";
    ViewBag.Title = "Verificar E-mail";
}
@*<h2>@ViewBag.Title.</h2>*@
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Verifique seu e-mail e confirme seu endereço.
</p>
<p class="text-danger">
    DEMO: Caso o e-mail não chegue clique neste link: <a href="@TempData["Link"]">link</a>
</p>
