@{
    Layout = "~/Views/Shared/_Account.cshtml";
    ViewBag.Title = "Confirmação de esquecimento de senha";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@
<h2>@ViewBag.Title.</h2>
<div>
    <p class="text-info">
        Por favor, verifique seu e-mail para trocar sua senha.
    </p>
    @*<p class="text-danger">
        <h4>@ViewBag.Status <a href="@ViewBag.LinkAcesso">Link de acesso</a></h4>
    </p>*@
</div>

	
