
@{
    Layout = "~/Views/Shared/_PrincipalPerfil.cshtml";
    ViewBag.Title = "ShowDepoimentos";
}

<div class="ms-cnt-blc ms-cnt-depoimentos">
    <div class="view-editor"></div>
    <div class="view-titulo">
        <div class="ms-cnt-tit-blc">
            <h1 class="ms-tit-blc-txt icon-depo">@Posy.V2.Infra.CrossCutting.Common.Resources.UIConfig.MeusDepoimentos</h1>
            <div class="ms-tit-blc-line"></div>
        </div>
    </div>
    <div class="view-pager vp1"></div>
    <div class="view-page"></div>
    <div class="view-pager vp2"></div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            fnView();

            $(document).on("click", ".ed-cnt-cmt .btnAddPost", function () {

                if ($(this).closest(".ed-cnt-cmt").attr("id") == "cmtDepoimentoFrame")
                    fnEnviarDepoimento($(this).closest(".ed-cnt-cmt"));

            });

            $(document).on("click", ".menuitem", function () {

                if ($(this).attr("opcao") == "A")
                    fnAceitarDepoimento($(this));

                else if ($(this).attr("opcao") == "R")
                    fnRecusarDepoimento($(this));

                else if ($(this).attr("opcao") == "E")
                    fnExcluirDepoimento($(this));

            });

            $(document).on("click", ".tooltipSubMenuDrop", function () {
                $(this).tipsy("show");
            });

            function fnEnviarDepoimento(editorPerfil) {

                var _htmlPost;
                var _objEditor = editorPerfil.find('.the-new-com'),
                    _nodeName = _objEditor.get(0).nodeName;

                if (_nodeName == "IFRAME")
                    _htmlPost = _objEditor.contents().find("body").html();
                else
                    _htmlPost = _objEditor.val();

                if (_htmlPost == "") {
                    alert("Nenhum texto para o post.");
                    return false;
                }

                var objContainerLoading = editorPerfil.find('.btnAddPost');
                objContainerLoading.buttonLoader('start');

                var model = new Object();
                model.Depoimento = _htmlPost;

                $.post("/ajax/depoimento", { model: model }, function (response) {

                    $(response).hide().prependTo(".view-page .tl-cnt-default").fadeIn("slow");

                    $(".view-page .tl-cnt-default .tooltip-dropmenu:eq(0)").tipsy({
                        trigger: 'click',
                        gravity: 'n',
                        html: true,
                        title: function () {
                            return $(this).find(".tooltip-dropmenu-html-container").html();
                        }
                    });

                    fnNotificacao("success", "Sucesso na operação.", V_TIME_MESSAGE);

                    setTimeout(function () {
                        $(".postado-recente").removeClass("postado-recente");
                    }, 500);

                    fnOcultarContainerEditor(editorPerfil);

                }).always(function () {
                    objContainerLoading.buttonLoader('stop');
                });
            }

            function fnAceitarDepoimento(objBtn) {

                var objContainerLoading = $(".tooltip-dropmenu-container[cd=" + objBtn.attr("cd") + "]");
                objContainerLoading.buttonLoader('start');

                var model = new Object();
                model.DepoimentoId = objBtn.attr("cd");

                $.post("/ajax/depoimento/aceitar", { model: model }, function (data) {

                    var linkExcluir = "<a href='javascript:void(0);'><div class='menuitem' cd='" + objBtn.attr("cd") + "' opcao='E'>Excluir</div></a>";
                    $(".tooltip-dropmenu-menu[cd=" + objBtn.attr("cd") + "]").html(linkExcluir);
                    $(".tl-cnt-default-block[cd=" + objBtn.attr("cd") + "] h2 i").fadeOut(300, function () {
                        $(this).remove();
                    });

                    $(".tooltip-dropmenu").tipsy({
                        trigger: 'click',
                        gravity: 'n',
                        html: true,
                        title: function () {
                            return $(this).find(".tooltip-dropmenu-html-container").html();
                        }
                    });

                }).always(function () {
                    objContainerLoading.buttonLoader('stop');
                });
            }

            function fnRecusarDepoimento(objBtn) {

                var objContainerLoading = $(".tooltip-dropmenu-container[cd=" + objBtn.attr("cd") + "]");
                objContainerLoading.buttonLoader('start');

                var model = new Object();
                model.DepoimentoId = objBtn.attr("cd");

                $.post("/ajax/depoimento/recusar", { model: model }, function (data) {

                    $(".tl-cnt-default-block[cd=" + objBtn.attr("cd") + "]").fadeOut(300, function () {
                        $(this).remove();
                    });

                }).always(function () {
                    objContainerLoading.buttonLoader('stop');
                });
            }

            function fnExcluirDepoimento(objBtn) {

                var objContainerLoading = $(".tooltip-dropmenu-container[cd=" + objBtn.attr("cd") + "]");
                objContainerLoading.buttonLoader('start');

                var model = new Object();
                model.DepoimentoId = objBtn.attr("cd");

                $.post("/ajax/depoimento/delete", { model: model }, function (data) {

                    var objTitleCnt = $(".ms-tit-blc-btn"),
                        totalItens = (objTitleCnt.text() === undefined || objTitleCnt.text() == "") ? 0 : parseInt(objTitleCnt.text());

                    totalItens = ((totalItens - 1) < 0) ? 0 : totalItens;

                    objTitleCnt.text((totalItens - 1));

                    $(".tl-cnt-default-block[cd=" + objBtn.attr("cd") + "]").fadeOut(300, function () {
                        $(this).remove();
                    });

                }).always(function () {
                    objContainerLoading.buttonLoader('stop');
                });
            }

            function fnView() {
                var objLoader = $(".mv-loading").boxLoader();

                $.get("/ajax/comunidade/template/view", function (view) {
                    fnShowViewPerfilData(view);

                    $(".view-editor").html(view[3]);
                    $(".ed-cnt-cmt").editorHtml().show();

                    $(".view-page .tl-cnt-default .tl-cnt-default-block").fadeIn("slow");

                    fnInicializaViewPerfil();
                }).always(function () {
                    objLoader.stop();
                });
            }

        });

    </script>
}
