<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="RedisConfiguration" type="Posy.V2.Infra.CrossCutting.Common.Cache.Configuration.RedisConfigurationSection, Posy.V2.Infra.CrossCutting.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  
  <RedisConfiguration host="localhost" port="6379" />
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- SendGrid-->
    <add key="mailAccount" value="admin@admin.com.br" />
    <add key="mailPassword" value="" />
    <add key="mailName" value="POSY - Admin do Portal" />
    <add key="mailSend" value="false" />
    <!-- Twilio-->
    <!--<add key="TwilioSid" value="My SID" />
    <add key="TwilioToken" value="My Token" />
    <add key="TwilioFromPhone" value="+12065551234" />-->
    <add key="TwilioSend" value="true" />
    <add key="siteRootUrl" value="https://localhost:44307/" />
    <add key="siteRootUrlOld" value="http://localhost:38037/" />
    <add key="Internet" value="false" />
    <!--  
        ServerDatabase: 
        SQLSERVER = 1, 
        MYSQL = 2, 
        POSTGRESQL = 3, 
        ORACLE = 4
    -->
    <add key="ServerDatabase" value="1" />
  </appSettings>
  <!--
      SLZ262876
      NETUNO
  -->
  <connectionStrings>
    <!--USAR COM REPOSITORIO SQL SERVER-->
    <add name="DefaultConnection" connectionString="Server=;Database=PosyV2;User ID=sa;Password=;" providerName="System.Data.SqlClient" />
    
    <!--USAR COM REPOSITORIO MYSQL-->
    <!--<add name="DefaultConnection" connectionString="Server=localhost;Database=PosyV2;User Id=root;Password=;" providerName="MySql.Data.MySqlClient" />-->
    
    <!--USAR COM REPOSITORIO POSTGRESQL-->
    <!--<add name="DefaultConnection" connectionString="Server=localhost;Database=PosyV2;User Id=postgres;Password=;" providerName="Npgsql" />-->

    <!--USAR COM REPOSITORIO ORACLE-->
    <!--<add name="DefaultConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));User ID=;Password=;" />
    <add name="DefaultConnectionNHibernate" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));User ID=;Password=;" />-->
    
    <!--<add name="elmah-oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));User ID=;Password=;" />-->
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    
    <!--<customErrors mode="On" defaultRedirect="~/Error">
      <error redirect="~/Error/NotFound" statusCode="404" />
    </customErrors>-->
    <customErrors mode="Off" />
    
    <!--Configurar o acesso aos cookies somente via HTTP, evita que o código do lado do cliente, por exemplo JavaScript,
        interaja com os cookies, técnica muito usada para ações de XSS.
        A configuração acima vai adicionar a parâmetro HttpOnly na cabeçalho HTTP Set-Cookie, conforme exemplo abaixo:
        Set-Cookie: USER=123; expires=Wednesday, 09-Nov-99 23:12:40 GMT; HttpOnly-->
    <!--<httpCookies httpOnlyCookies="true" />-->
    <!-- javascript:void(0);alert(document.cookie); -->
    <!--Se você utiliza HTTPS na sua aplicação, poderá habilitar a transmissão de cookies via SSL.
        Dessa forma, nenhum cookie será gravado em páginas que utilizar HTTP. Por padrão, o uso de SSL em cookies vem desabilitado.-->
    <httpCookies requireSSL="true" httpOnlyCookies="true" />
    
    <pages validateRequest="true" viewStateEncryptionMode="Always" enableSessionState="false" enableViewState="false" />
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  
  <system.webServer>

    <!--
        Prepare web.config for HTML5 and CSS3
        https://madskristensen.net/blog/prepare-webconfig-for-html5-and-css3/
    -->
    <staticContent>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <!--<mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />

      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <mimeMap fileExtension=".spx" mimeType="audio/ogg" />

      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />

      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />-->
    </staticContent>
    
    <security>
      <requestFiltering removeServerHeader="true" />
      <!-- Removes Server header in IIS10 or later and also in Azure Web Apps -->
    </security>
    <!-- 
        Executando erros apartir do web.config
        
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Error.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config" responseMode="ExecuteURL" />
    </httpErrors>-->
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
    <!--
        O código acima informa aos navegadores para armazenar em cache automaticamente todos os recursos estáticos por 365 dias.
        O problema fica claro na primeira vez que você faz uma alteração em qualquer arquivo estático. 
        Como o navegador saberá que você fez uma alteração para poder baixar a versão mais recente do arquivo? 
        A resposta é que não pode. Ele continuará servindo a mesma versão em cache do arquivo pelos próximos 365 dias, 
        independentemente de quaisquer alterações feitas nos arquivos.
        
        Usando StaticFile.Version(string rootRelativePath)
        
        <staticContent>
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>
    -->
    <!--
        Prepare web.config for HTML5 and CSS3
        
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
            <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />

            <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
            <mimeMap fileExtension=".spx" mimeType="audio/ogg" />

            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />

            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
        </staticContent>
    -->
    <!--<httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
      <redirectHeaders>
        <clear />
      </redirectHeaders>
    </httpProtocol>-->
    <rewrite>
      <!-- Redireciona as requisições http para https
           https://www.troyhunt.com/owasp-top-10-for-net-developers-part-9/
           O redirecinamento de http para https é inseguro e esta vuneralvem a ataques MITM,
           pois a primeira requisição será em http, retornando uma resposta 301 (movida permanentemente) 
           e solicita ao navegador que redirecione para https
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
      -->
      <!-- rewriteBeforeCache="true" Coloquei este atributo para o caso:
           Quando ocorre um erro não tratado, 500, 404,... o site redireciona para uma pagina de erro customizada Erro.aspx,
           ao redirecionar ele não incluia o cabeçalho HSTS e não limpava o cabeçalho Server (Com a informação da versão do IIS) -->
      <outboundRules rewriteBeforeCache="true">
        <!-- Adiciona um header HSTS - HTTP Strict Transport Security em conexões https 
             https://www.troyhunt.com/owasp-top-10-for-net-developers-part-9/
             Uma vez que um navegador de suporte receba esse cabeçalho retornado de uma solicitação HTTPS 
             (ele pode não ser retornado por HTTP - que agora sabemos que não pode ser confiável - ou o navegador o ignorará), 
             ele só emitirá solicitações subsequentes para esse site Esquema HTTPS. O cabeçalho "Strict-Transport-Security" 
             também retorna um atributo "max-age" em segundos e, até que esse período tenha expirado, o navegador converterá 
             automaticamente quaisquer solicitações HTTP em versões HTTPS com o mesmo caminho. 
             max-age em segundos 
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
        </rule>
        -->
        <!-- Remove informação da versão do IIS usada no header Server:
             OBS: Não exclui o header, apenas mostra sem valor -->
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="Posy V2" />
        </rule>
        <!-- A script-srcdiretiva especifica a lista de permissões de fontes das quais o navegador pode carregar scripts.
             Usando a 'self'palavra-chave é mais fácil do que especificar todo o meu domínio e torna a política um pouco mais fácil de ler, 
             uma vez que começa a crescer. Como o domínio nastyhackers.comnão está na lista de permissões do script, o navegador não carregará 
             o conteúdo do script nastyhackers.com. -->
        <!--<rule name="CSP">
          <match serverVariable="RESPONSE_Content-Security-Policy" pattern=".*" />
          <action type="Rewrite" value="default-src 'self'; report-uri https://localhost:44307/report;" />
        </rule>-->
      </outboundRules>
    </rewrite>
    
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.7.0" newVersion="2.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <entityFramework>
    <!--codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6"-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!--USAR COM REPOSITORIO SQL SERVER-->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      
      <!--USAR COM REPOSITORIO MYSQL-->
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>-->
      
      <!--USAR COM REPOSITORIO POSTGRESQL-->
      <!--<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />-->
      
      <!--USAR COM REPOSITORIO ORACLE-->
      <!--<provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    </providers>
  </entityFramework>
  
  <!--USAR COM REPOSITORIO MYSQL-->
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>-->
  
  <!--USAR COM REPOSITORIO POSTGRESQL-->
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF" />
    </DbProviderFactories>
  </system.data>-->
  
  <!--USAR COM REPOSITORIO ORACLE-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <!--<dataSource alias="DefaultConnection" descriptor="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));User ID=;Password=;" />-->
        <!--<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />-->
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="true" />
    
    <!--Mais configurações de errorLog
    https://github.com/mikefrey/ELMAH/blob/master/samples/web.config-->
    
    <!--Store ELMAH logs in XML file-->
    <!--<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/ElmahLog" />-->
    
    <!--Store ELMAH logs in RAM-->
    <!--<errorLog type="Elmah.MemoryErrorLog, Elmah" size="100" />-->
    
    <!--Store ELMAH logs in Microsoft SQL Server-->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="DefaultConnection" schemaOwner="" applicationName="Posy.V2.MVC" />
    
    <!--
        Store ELMAH logs in Oracle
        The schemaOwner parameter is *optional*. Use this if the owner of the
        ELMAH package (pkg_elmah$error) is not the same user that you are 
        using to connect to the database.
    -->
    <!--<errorLog type="Elmah.OracleErrorLog, Elmah" connectionStringName="DefaultConnection" schemaOwner="" />-->
    
    <!-- Configuração de email, envia o erro por email 
         https://stormconsultancy.co.uk/blog/development/tools-plugins/setup-email-alerts-from-elmah-when-exceptions-are-raised/
         Elmah usar a porta 25 por default, para usar a porta da configuração de email na system.net usa o atributo smtpPort="0"
         Como o email sera enviado via gmail, o gmail requer que o SSL esteja ativado. useSsl="true" -->
    <errorMail from="shakaluz59@gmail.com" to="shakaluz59@gmail.com" subject="Posy.V2.MVC - Error" async="true" smtpPort="0" useSsl="true" />
    
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  
  <!-- Configuração de email, envia o erro por email 
       https://weblogs.asp.net/scottgu/432854
       Ao instanciar um SmtpClient ele já identifica as configurações da seção system.net/mailSettings -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="shakaluz59@gmail.com" password="@Aa123456" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  </glimpse>
</configuration>
