@model HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Account.cshtml";
    ViewBag.Title = "Locked Out";
}
<h1 class="text-danger">Usuário Bloqueado.</h1>
<h2 class="text-danger font-weight-light">Sua conta foi temporariamente bloqueada por exceder o número de tentativas inválidas, tente novamente mais tarde.</h2>